<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>West</mat-card-title>
    <mat-card-subtitle>Mitchell Loe</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="./assets/images/CSX.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <ul>
      <li>8888</li>
      <li>8484</li>
      <li>12345</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>DELETE <mat-icon aria-hidden="false" aria-label="delete card" fontIcon="delete"></mat-icon></button>
    <button mat-button>EDIT <mat-icon aria-hidden="false" aria-label="edit card" fontIcon="mode_edit"></mat-icon></button>
  </mat-card-actions>
</mat-card>
