@font-face {
  font-family: 'poppins';
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppins-semibold';
  src: url('./fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'futura-lt';
  src: url('./fonts/futura-lt/FuturaLT-Book.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
