<div class="form-container" [formGroup]="formGroup">
    <mat-form-field appearance="outline" class="full-width"> 
        <mat-label>Route</mat-label>
        <mat-select formControlName="route">
            <mat-option *ngFor="let routeOption of routeOptions" [value]="routeOption">{{routeOption}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Engineer</mat-label>
        <input type="text"
               aria-label="Engineer Name"
               matInput
               formControlName="engineerName"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Road Reporting Mark</mat-label>
        <input matInput placeholder="GTW" formControlName="road">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Road Numbers</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter Road Numbers" formControlName="roadNumbers">
          @for (keyword of keywords(); track keyword) {
            <mat-chip-row (removed)="removeKeyword(keyword)">
              {{keyword}}
              <button matChipRemove [attr.aria-label]="'remove ' + keyword">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          }
        </mat-chip-grid>
        <input
          placeholder="New keyword..."
          [matChipInputFor]="chipGrid"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-form-field>
</div>