.form-container {
    width: 100%;
    margin-top: 10px;
}

.full-width {
    width: 100%;
}

.add-button {
  background-color: var(--primary-color) !important;
  color: var(--font-color) !important;
}

.action-buttons {
  width: 100%;
  row-gap: 10px;
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
}

.image-input {
  margin-top: 10px;
}
